  $primary: #003E1E;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600;700;900&family=Poppins:wght@400;600&family=Roboto:wght@400;500;700&display=swap');
:root {
  --bs-body-font-family : 'Roboto', sans-serif !important;
}

@media (max-width: 575.98px) {
// .titlePageMo {
//     margin-top: -50px;
//   }
   }
@media (max-width: 767.98px) {
// .titlePageMo {
//     margin-top: -50px;
//   }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
 
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

.developer{
  margin-top: 30px !important;
  font-size: small;
}
.developerName {
  margin-top: 40px !important;
  font-size: small;
}
 
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
   .titlePage{
      padding-top: 15px;
     };


  .appLogo {
    position: absolute;
    width: 130px !important;
    margin-left: -65px !important;
    margin-top: -150px;
  }

  .title h4 {
    margin-top: -55px;
  }  

  .developer {
    margin-top: 30px !important;
    font-size: small;
  }

  .developerName {
    margin-top: 40px !important;
    font-size: small;
  }
  
}

@media print {
  h3 {
    color: green;
    font-size: 40px;
  }
  .table tr{
    text-align: center;
  }
    .table td {
      text-align: center;
      white-space: nowrap;
      padding: 0.005rem !important;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
}

